Repository manolof/aquanode-server: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

chore(package): update packages
  package-lock.json
  package.json
  src/lights/lights.test.ts
  src/relay/relay.test.ts
Due: prettier --write, tslint --fix

wip
  conf/config.ts
  conf/schedule.ts
Due: prettier --write, tslint --fix

feat(lights): add white led support
  conf/config.ts
  package-lock.json
  src/lights/interfaces.ts
  src/lights/lights.test.ts
  src/lights/lights.ts
  src/routes/schedule.test.ts
Due: prettier --write, tslint --fix

feat(schedule): update schedule
  conf/schedule.ts
  package-lock.json
Due: prettier --write, tslint --fix

ci: move from travis to github actions
  .github/workflows/ci.yml
  .travis.yml
Due: none

ci: update CI config
  .editorconfig
  .github/workflows/ci.yml
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,md}
  tslint --fix: any of: *.ts
